<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2023-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Visualization Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be focusing on the visualization of data.

The data set will be presented to you in the form of a RDBMS.

You will have to use SQL queries to extract the data.

## Objectives

In this lab you will perform the following:

-   Visualize the distribution of data.

-   Visualize the relationship between two features.

-   Visualize composition of data.

-   Visualize comparison of data.

<hr>

## Demo: How to work with database

Download database file.

Connect to the database.

In [ ]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/Capstone_edX/Module%204/master.db

In [ ]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('master.db')
cur = conn.cursor()
QUERY = "SELECT * FROM master"
# the read_sql_query runs the sql query and returns the data as a dataframe
df = pd.read_sql_query(QUERY,conn)
print(df.head())

Import pandas module.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

## Demo: How to run an sql query

In [ ]:
# print how many rows are there in the table named 'master'
QUERY = """
SELECT COUNT(*)
FROM master
"""

# the read_sql_query runs the sql query and returns the data as a dataframe
df1 = pd.read_sql_query(QUERY,conn)
df1.head()

## Demo: How to list all tables

In [ ]:
# print all the tables names in the database
QUERY = """
SELECT name as Table_Name FROM
sqlite_master WHERE
type = 'table'
"""
# the read_sql_query runs the sql query and returns the data as a dataframe
pd.read_sql_query(QUERY,conn)

## Demo: How to run a group by query

# Hands-on Lab

## Visualizing distribution of data

### Histograms

Plot a histogram of `ConvertedComp.`

In [ ]:
# your code goes here
plt.hist(df['ConvertedComp'])

### Box Plots

Plot a box plot of `Age.`

In [ ]:
# your code goes here

df.boxplot(column =['Age'],grid=False)

## Visualizing relationships in data

### Scatter Plots

Create a scatter plot of `Age` and `WorkWeekHrs.`

In [ ]:
# your code goes here
df.plot(kind='scatter', x='Age', y='WorkWeekHrs', figsize=(10, 6), color='darkblue')

### Bubble Plots

Create a bubble plot of `WorkWeekHrs` and `Age`, use `Age` column as bubble size.

##### Hint: Use plotly.express to create a bubble chart

In [ ]:
# your code goes here
import plotly.express as px
fig = px.scatter(df, x="WorkWeekHrs", y="Age",
         size="Age", log_x=True, size_max=10)
fig.show()

## Visualizing composition of data

### Pie Charts

Create a pie chart of the top 5 Country that respondents filled the survey . Display percentages of each database on the pie chart.

In [ ]:
# your code goes here
df_pie = df['Country'].value_counts()
df_pie=df_pie.head(5)
df_pie.plot(kind='pie', figsize=(8,8), autopct='%1.0f%%')

## Visualizing comparison of data

### Line Chart

Draw distribution plot for ConverteComp and plot the median

##### Hint: Use seaborn library for distribution plot

In [ ]:
# your code goes here
import seaborn as sns
median=df['ConvertedComp'].median()
sns.distplot(df["ConvertedComp"])
plt.axvline(median, color='r', linestyle='--')

### Bar Chart

Create a horizontal bar chart using column `MainBranch.`

In [ ]:
# your code goes here
df_mbranch = df['MainBranch'].value_counts()
df_mbranch
df_mbranch.plot(kind='barh', figsize=(12, 12), color='steelblue')

Close the database connection.

In [ ]:
conn.close()